/* Setting valo theme parameters */

/* Import the valo theme. */
@import "../valo/valo";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin simpleclienttheme {
  /* Include all the styles from the valo theme */
  @include valo;

  /* Insert your theme rules here */
  
  .w-page-link-active {
    font-weight: bold;
  }
  
  .w-margin-top-12px {
    margin-top: 12px;
  }
  
  .w-margin-bottom-12px {
    margin-bottom: 12px;
  }
  
  .w-margin-left-12px {
    margin-left: 12px;
  }
  
  .w-margin-right-12px {
    margin-right: 12px;
  }
  
  /*
  .v-window-white-window .v-window-outerheader {
    height: 0;
    margin-left: 0;
    padding: 0;
  }
  
  .v-window-white-window .v-window-footer {
    height: 0;
    margin-left: 0;
    padding: 0;
  } 
  
  .v-window-white-window .v-window-maximizebox {
    height: 0;
    margin-left: 0;
    padding: 0;
  } 
  
  .white-window .v-window-contents {
  	background-color:rgba(255,0,0,0.5);
  	border-radius:4px
  }
  .bold {
    font-weight: bold;
  }
  .center {
    text-align: center;
  }
  .padding18 {
    padding: 18px;
  }
  */
}